---
title: Extending Diesel's Query Builder
---

section.banner
  .content-wrapper
    .banner-wrapper
      h2.banner__heading Extending Diesel's Query Builder

main
  section.demo
    .content-wrapper
      .guide-wrapper
        markdown:
          Diesel provides a lot of capabilities out of the box.
          However, it doesn't necessarily provide everything your app may want to use.
          One of Diesel's greatest strengths
          is that it can be extended to add new functionality.

          In this guide we'll look at several ways to hook into Diesel's query builder,
          both to add new capabilities,
          and to introduce new abstractions.

          This guide is only going to cover extending the query builder.
          How to add support for new SQL types will be covered in a future guide.

          `sql_function!`
          ---------------

          The easiest and most common way to extend Diesel's query builder
          is by declaring a new SQL function.
          This can be used for functions defined by your database,
          or for built-in functions that Diesel doesn't support out of the box.

          Functions in SQL often have multiple signatures,
          making them difficult or impossible to represent in Rust.
          Because of this, Diesel only provides support for a small number
          of built-in SQL functions.
          Consider `COALESCE`.
          This function can take any number of arguments,
          and its return type changes based on whether any arguments are `NOT NULL`.
          While we can't easily represent that in Rust,
          we can use `sql_function!` to declare it with the exact signature we're using.

        .demo__example
          .demo__example-browser
            .browser-bar Example
            pre.demo__example-snippet
              code.rust
                | use diesel::types::{Nullable, Text};
                  sql_function!(coalesce, Coalesce, (x: Nullable&lt;Text&gt;, y: Text) -&gt; Text);

                  users.select(coalesce(hair_color, "blue"))

        markdown:
          As this example shows,
          `sql_function!` converts its argument like other parts of the query builder.
          This means that the generated function can take both Diesel expressions,
          and Rust values to be sent with the query.

          The macro takes three arguments:

          - A function name
          - A type name
          - A type signature

          The type signature uses the same syntax as a normal Rust function.
          However, the types given are SQL types,
          not concrete Rust types.
          This is what allows us to pass both columns and Rust strings.
          If we defined this function manually, it would look like this:

        .demo__example
          .demo__example-browser
            .browser-bar Example
            pre.demo__example-snippet
              code.rust
                | fn coalesce&lt;X, Y&gt;(x: X, y: Y) -&gt; Coalesce&lt;X::Expression, Y::Expression&gt;
                  where
                      X: AsExpression&lt;Nullable&lt;Text&gt;&gt;,
                      Y: AsExpression&lt;Text&gt;,

        markdown:
          The type name given as the second argument is almost never used.
          Instead, a helper type is generated with the same name as the function.
          This helper type handles Diesel's argument conversion.
          This lets us write `coalesce<hair_color, &str>`
          instead of `Coalsece<hair_color, Bound<Text, &str>>`.

          Using Custom SQL and How to Extend the Query DSL
          ----------

          Often times it's useful to encapsulate a common SQL pattern.
          For example, if you're doing pagination on your queries,
          PostgreSQL is capable of loading the total count in a single query.
          The query you would want to execute would look like this:

        .demo__example
          .demo__example-browser
            .browser-bar Example
            pre.demo__example-snippet
              code.sql
                | SELECT *, COUNT(*) OVER () FROM (subselect t) LIMIT $1 OFFSET $1

        markdown:
          However, as of version 1.0,
          Diesel doesn't support window functions, or selecting from a subselect.
          Even if Diesel's query builder supported those things,
          this is a case that is easier to reason about in terms of the SQL we want to
          generate.

          Let's look at how we would go about adding a `paginate` method to Diesel's query
          builder, to generate that query.
          Let's assume for the time being that we have a struct `Paginated<T>` already.
          We'll look at the specifics of this struct shortly.

          If you are creating a struct where you want to manually define the SQL,
          you will need to implement a trait called `QueryFragment`.
          The implementation will look like this:

        .demo__example
          .demo__example-browser
            .browser-bar src/pagination.rs
            a.btn-demo-example href=example_file("postgres/advanced-blog-cli/src/pagination.rs#L55-L69")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | impl&lt;T&gt; QueryFragment&lt;Pg&gt; for Paginated&lt;T&gt;
                  where
                      T: QueryFragment&lt;Pg&gt;,
                  {
                      fn walk_ast(&self, mut out: AstPass&lt;Pg&gt;) -&gt; QueryResult&lt;()&gt; {
                          out.push_sql("SELECT *, COUNT(*) OVER () FROM (");
                          self.query.walk_ast(out.reborrow())?;
                          out.push_sql(") LIMIT ");
                          out.push_bind_param::&lt;BigInt, _&gt;(&self.limit())?;
                          out.push_sql(" OFFSET ");
                          out.push_bind_param::&lt;BigInt, _&gt;(&self.offset())?;
                          Ok(())
                      }
                  }

        markdown:
          For details on what each method does,
          see the documentation for [`AstPass`].
          One important question to ask whenever you implement `QueryFragment`
          is whether you are generating a query that is safe to cache.
          The way to answer this question is by asking
          "does this struct generate an unlimited number of potential SQL queries"?
          Typically that is only the case if the body of `walk_ast` contains a for loop.
          If your query is not safe to cache, you *must* call
          `out.unsafe_to_cache_prepared`.

          Whenever you implement `QueryFragment`, you also need to implement [`QueryId`].
          We can use the [`impl_query_id!`] macro for this.
          Since this struct represents a full query which can be executed,
          we will implement [`RunQueryDsl`] which adds methods like [`execute`] and [`load`].
          Since this query has a return type,
          we'll implement [`Query`] which states the return type as well.

          [`QueryId`]: //docs.diesel.rs/diesel/query_builder/trait.QueryId.html
          [`AstPass`]: //docs.diesel.rs/diesel/query_builder/struct.AstPass.html
          [`impl_query_id!`]: //docs.diesel.rs/diesel/macro.impl_query_id.html
          [`RunQueryDsl`]: //docs.diesel.rs/diesel/query_dsl/trait.RunQueryDsl.html
          [`execute`]: //docs.diesel.rs/diesel/query_dsl/trait.RunQueryDsl.html#method.execute
          [`load`]: //docs.diesel.rs/diesel/query_dsl/trait.RunQueryDsl.html#method.load
          [`Query`]: //docs.diesel.rs/diesel/query_builder/trait.Query.html

        .demo__example
          .demo__example-browser
            .browser-bar src/pagination.rs
            a.btn-demo-example href=example_file("postgres/advanced-blog-cli/src/pagination.rs#L47-L53")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | impl_query_id!(Paginated&lt;T&gt;);

                  impl&lt;T: Query&gt; Query for Paginated&lt;T&gt; {
                      type SqlType = (T::SqlType, BigInt);
                  }

                  impl&lt;T&gt; RunQueryDsl&lt;PgConnection&gt; for Paginated&lt;T&gt; {}

        markdown:
          Now that we've implemented all of these things,
          let's look at how we would go about constructing this.
          We'll want to add a `paginate` method to all Diesel queries,
          which specifies which page we're on,
          as well as a `per_page` method which specifies the number of elements per page.

          In order to add new methods to existing types, we can use a trait.

        .demo__example
          .demo__example-browser
            .browser-bar src/pagination.rs
            a.btn-demo-example href=example_file("postgres/advanced-blog-cli/src/pagination.rs#L7-L32")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | pub trait Paginate: AsQuery + Sized {
                      fn paginate(self, page: i64) -&gt; Paginated&lt;Self::Query&gt; {
                          Paginated {
                              query: self.as_query(),
                              page,
                              per_page: DEFAULT_PER_PAGE,
                           }
                      }
                  }

                  impl&lt;T: AsQuery&gt; Paginate for T {}

                  const DEFAULT_PER_PAGE: i64 = 10;

                  pub struct Paginated&lt;T&gt; {
                      query: T,
                      page: i64,
                      per_page: i64,
                  }

                  impl Paginated&lt;T&gt; {
                      pub fn per_page(self, per_page: i64) -&gt; Self {
                          Paginated { per_page, ..self }
                      }
                  }

        markdown:
          Now we can get the third page of a query with 25 elements per page like this:

        .demo__example
          .demo__example-browser
            .browser-bar Example
            pre.demo__example-snippet
              code.rust
                | users::table
                      .paginate(3)
                      .per_page(25)

        markdown:
          With this code,
          we could load any query into a `Vec<(T, i64)>`,
          but we can do better.
          When doing pagination,
          you usually want the records and the total number of pages.
          We can write that method.

        .demo__example
          .demo__example-browser
            .browser-bar src/pagination.rs
            a.btn-demo-example href=example_file("postgres/advanced-blog-cli/src/pagination.rs#L34-L44")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | impl&lt;T&gt; Paginated&lt;T&gt; {
                      fn load_and_count_pages&lt;U&gt;(self, conn: &PgConnection) -&gt; QueryResult&lt;(Vec&lt;U&gt;, i64)
                      where
                          Self: LoadQuery&lt;PgConnection, (U, i64)&gt;,
                      {
                          let per_page = self.per_page;
                          let results = self.load::&lt;(U, i64)&gt;(conn)?;
                          let total = results.get(0).map(|(_, total) total|).unwrap_or(0);
                          let records = results.into_iter().map(|(record, _)| record).collect();
                          let total_pages = (total as f64 / per_page as f64).ceil() as i64;
                          Ok((records, total_pages))
                      }
                  }

        markdown:
          This is one of the rare cases where we want to define a function that takes a
          connection.
          One benefit of defining the function this way
          is that if we wanted to support backends other than PostgreSQL,
          we could have this function execute two queries.

          You can find the full code for this example in [the "advanced blog" example].

          [the "advanced blog" example]: #{example_file("postgres/advanced-blog-cli")}

          Custom Operators
          ----------------

          If you're adding support for a new type to Diesel,
          or working with a type that has incomplete support,
          you may wish to add support for the operators associated with that type.
          The term operator refers to anything that uses one of these syntaxes:

          - Infix (e.g. `left OP right`)
          - Prefix (e.g. `OP expr`)
          - Postfix (e.g. `expr OP`)

          Diesel provides helper macros for defining each of these kinds of operators.
          In fact, Diesel uses these macros to declare nearly all of the operators
          supported by the main crate.
          The macros are
          [`diesel_infix_operator!`], [`diesel_postfix_operator!`] and
          [`diesel_prefix_operator!`].

          [`diesel_infix_operator!`]: (//docs.diesel.rs/diesel/macro.diesel_infix_operator.html)
          [`diesel_postfix_operator!`]: (//docs.diesel.rs/diesel/macro.diesel_postfix_operator.html)
          [`diesel_prefix_operator!`]: (//docs.diesel.rs/diesel/macro.diesel_prefix_operator.html)

          All of these macros have the same signature.
          They take between two and four arguments.

          The first is the name of the struct you want to represent this operator.

          The second is the actual SQL for this operator.

          The third argument is optional, and is the SQL type of the operator.
          If the SQL type is not specified, it will default to `Bool`.
          You can also pass the "magic" type `ReturnBasedOnArgs`,
          which will cause the SQL type to be the same as the type of its arguments.
          Diesel uses this to make the string concatenation operator `||`
          return `Nullable<Text>` if the arguments are nullable,
          or `Text` if they are not null.

          The fourth argument (or third if you didn't specify the SQL type)
          is the backend this operator is used for.
          If you don't specify a backend,
          the operator can be used on all backends.

          Let's look at some example usage from Diesel:

        .demo__example
          .demo__example-browser
            .browser-bar Example
            pre.demo__example-snippet
              code.rust
                | // A simple operator. It returns `Bool` and works on all backends.
                  diesel_infix_operator!(Eq, " = ");

                  // Here we've specified the SQL type.
                  // Since this operator is only used for ordering, and we don't want it used
                  // elsewhere, we've made it `()` which is normally useless.
                  diesel_postfix_operator!(Asc, " ASC", ());

                  // Concat uses the magic `ReturnBasedOnArgs` return type
                  // so it can work with both `Text` and `Nullable&lt;Text&gt;`.
                  diesel_infix_operator!(Concat, " || ", ReturnBasedOnArgs);

                  // This operator is PG specific, so we specify the backend
                  diesel_infix_operator!(IsDistinctFrom, " IS DISTINCT FROM ", backend: Pg);

                  // This operator is PG specific, and we are also specifying the SQL type.
                  diesel_postfix_operator!(NullsFirst, " NULLS FIRST", (), backend: Pg);

        markdown:
          Diesel provides a proof-of-concept crate showing how to add new SQL types called
          `diesel_full_text_search`.
          These are the operators as they are defined in that crate.
          You'll notice all of the operators specify the backend,
          and many of them specify the return type.

        .demo__example
          .demo__example-browser
            .browser-bar src/lib.rs
            a.btn-demo-example href="https://github.com/diesel-rs/diesel_full_text_search/blob/27b9946831caa8b08177c1818a50cb7f0563c9c0/src/lib.rs#L57-L62"
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | diesel_infix_operator!(Matches, " @@ ", backend: Pg);
                  diesel_infix_operator!(Concat, " || ", TsVector, backend: Pg);
                  diesel_infix_operator!(And, " && ", TsQuery, backend: Pg);
                  diesel_infix_operator!(Or, " || ", TsQuery, backend: Pg);
                  diesel_infix_operator!(Contains, " @&gt; ", backend: Pg);
                  diesel_infix_operator!(ContainedBy, " &lt;@ ", backend: Pg);

        markdown:
          However, just declaring the operator by itself isn't very useful.
          This creates the types required by Diesel's query builder,
          but doesn't provide anything to help use the operator in real code.
          The structs created by these macros will have a `new` method,
          but that's not typically how you work with Diesel's query builder.

          - Infix operators are usually methods on the left hand side.
          - Postfix operators are usually methods on the expression.
          - Prefix operators are usually bare functions.

          For operators that you create with methods,
          you would typically create a trait for this.
          For example, here's how the `.eq` method gets defined by Diesel.

        .demo__example
          .demo__example-browser
            .browser-bar src/expression_methods/global_expression_methods.rs
            a.btn-demo-example href=repo_url("diesel/src/expression_methods/global_expression_methods.rs")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | pub trait ExpressionMethods: Expression + Sized {
                      fn eq&lt;T: AsExpression&lt;Self::SqlType&gt;&gt;(self, other: T) -&gt; Eq&lt;Self, T::Expression&gt; {
                          Eq::new(self, other.as_expression())
                      }
                  }

                  impl&lt;T: Expression&gt; ExpressionMethods for T {}

        markdown:
          It's important to note that these methods are where you should put any type
          constraints.
          The structs defined by `diesel_*_operator!` don't know or care about what the
          types of the arguments should be.
          The `=` operator requires that both sides be of the same type,
          so we represent that in the type of `ExpressionMethods::eq`.

          You'll also notice that our argument is
          `AsExpression<Self::SqlType>`,
          not `Expression<SqlType = Self::SqlType>`.
          This allows Rust values to be passed as well as Diesel expressions.
          For example, we can do `text_col.eq(other_text_col)`,
          or `text_col.eq("Some Rust string")`.

          If the operator is specific to only one SQL type,
          we can represent that in our trait.

        .demo__example
          .demo__example-browser
            .browser-bar src/expression_methods/bool_expression_methods.rs
            a.btn-demo-example href=repo_url("diesel/src/expression_methods/bool_expression_methods.rs")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | pub trait BoolExpressionMethods
                  where
                      Self: Expression&lt;SqlType = Bool&gt; + Sized,
                  {
                      fn and&lt;T: AsExpression&lt;Bool&gt;&gt;(self, other: T) -&gt; And&lt;Self, T::Expression&gt; {
                          And::new(self, other.as_expression())
                      }
                  }

                  impl&lt;T: Expression&lt;SqlType = Bool&gt;&gt; BoolExpressionMethods for T {}

        markdown:
          Prefix operators are usually defined as bare functions.
          The code is very similar, but without the trait.
          Here's how `not` is defined in Diesel.

        .demo__example
          .demo__example-browser
            .browser-bar src/expression/not.rs
            a.btn-demo-example href=repo_url("diesel/src/expression/not.rs#L27-L29")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | pub fn not&lt;T: AsExpression&lt;Bool&gt;&gt;(expr: T)
                      -&gt; Not&lt;Grouped&lt;T::Expression&gt;&gt;
                  {
                      super::operators::Not::new(Grouped(expr.as_expression()))
                  }

        markdown:
          In this case we're using `Grouped`
          (which is currently undocumented in Diesel and only used internally)
          to add parenthesis around our argument.
          This ensures that the operator precedence in SQL matches what's expected.
          For example, we would expect `not(true.and(false))` to return `true`.
          However, `SELECT NOT TRUE AND FALSE` returns `FALSE`.
          Diesel does the same thing with `.or`.

          It's also a best practice to expose a "helper type" for your method,
          which does the same type conversion as the method itself.
          Nobody wants to write `Eq<text_col, <&str as AsExpression<Text>>::Expression>`.
          Instead, we provide a type that lets you write `Eq<text_col, &str>`.

        .demo__example
          .demo__example-browser
            .browser-bar src/expression/helper_types.rs
            a.btn-demo-example href=repo_url("diesel/src/expression/helper_types.rs#L18")
              | View on GitHub
            pre.demo__example-snippet
              code.rust
                | pub type Eq&lt;Lhs, Rhs&gt; =
                      super::operators::Eq&lt;Lhs, AsExpr&lt;Rhs, Lhs&gt;&gt;;

        markdown:
          For defining these types,
          you'll usually want to make use of [`SqlTypeOf`], [`AsExpr`], and [`AsExprOf`].

          [`SqlTypeOf`]: //docs.diesel.rs/diesel/helper_types/type.SqlTypeOf.html
          [`AsExpr`]: //docs.diesel.rs/diesel/helper_types/type.AsExpr.html
          [`AsExprOf`]: //docs.diesel.rs/diesel/helper_types/type.AsExprOf.html
