body {
  background: $lavender;
  background: linear-gradient($lavender, lighten($lavender, 50%));
  color: white;
}

.content-wrapper {
  @include outer-container;
}

%section {
  padding: $base-spacing * 4;
}

footer {
  background: $dark-gray;
  padding: $base-spacing * 2;
}
