body {
  background: $lavender;
  background: linear-gradient($lavender, lighten($lavender, 50%));
  color: white;
}

.content-wrapper {
  @include outer-container;
}

%section {
  display: block;
  padding: ($base-spacing * 2.5) 0 ($base-spacing * 3);

  &:last-child {
    padding-bottom: $base-spacing * 5;
  }
}

footer {
  background: $dark-gray;
  padding: $base-spacing * 2;
}
