.banner {
  @extend %section;
  margin-top: $base-spacing;
  text-align: center;

  &-wrapper {
    width: 100%;

    @include media($medium-screen-up) {
      width: 32.222222em;
      margin: 0 auto;
    }
  }

  .rust-link {
    color: $action-color;

    &:hover {
      color: darken($action-color, 10%);
    }
  }

  .btn-container {
    margin-top: $large-spacing;
  }

  .btn {
    margin: 0 ($small-spacing / 2) $small-spacing;
  }
}

.guides {
  p a, ul a {
    color: $action-color;

    &:hover {
      color: darken($action-color, 10%);
    }
  }
}

.aside {
  margin-bottom: 1.5rem;

  &__header {
    @include size(100% null);
    display: block;
    background: transparentize($white, 0.5);
    border-top-left-radius: $base-border-radius;
    border-top-right-radius: $base-border-radius;
    color: $dark-gray;
    font-size: 1rem;
    font-weight: 400;
    padding: 5px 10px;
  }

  &__text {
    font-size: 1rem;
    padding: 1rem 1.5em 1.5rem;
    background: transparentize($white, 0.9);

    p {
      margin-bottom: 1rem;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
}

.demo {
  @extend %section;
  padding-top: $base-spacing;
  margin: 0 auto;

  &__example pre {
    border-bottom-right-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
    margin: 0;
  }

  &__example-caption {
    color: $dark-purple;
    margin-bottom: $base-spacing;
  }

  &__example-browser {
    @include size(100% auto);
    position: relative;
    margin-bottom: $base-spacing;

    &:first-child,
    &:last-child {
      margin-bottom: 0;
    }

    .browser-bar {
      @include size(100% null);
      background: $light-gray;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      color: $dark-gray;
      font-size: 1rem;
      font-weight: 400;
      padding: 5px 10px;
    }

    .btn-demo-example {
      display: none;

      @include media($medium-screen-up) {
        display: block;
      }
    }
  }
}
