header {
  padding: $base-spacing 0 0;

  .logo {
    @include size(195px 80px);
    background: image_url("logo.svg") center no-repeat;
    background-size: 100%;

    a {
      @include size(100%);
      display: block;
      text-indent: -9999px;
    }
  }
}

.banner {
  @extend %section;
  text-align: center;

  &-wrapper {
    width: 580px;
    margin: 0 auto;
  }

  .rust-link {
    color: $yellow;

    &:hover {
      color: darken($yellow, 10%);
    }
  }

  .btn-container {
    margin-top: $large-spacing;
  }

  .btn {
    margin: 0 ($small-spacing / 2);
  }
}

.section-heading {
  text-align: center;
}

.demo {
  @extend %section;

  &__example pre {
    border-bottom-right-radius: $base-border-radius;
    border-bottom-left-radius: $base-border-radius;
    margin: 0;
  }

  &__example-caption {
    margin-bottom: $base-spacing;
  }

  &__example-browser {
    @include size(100% auto);
    position: relative;
    margin-bottom: $base-spacing;

    &:first-child,
    &:last-child {
      margin-bottom: 0;
    }

    .browser-bar {
      @include size(100% null);
      background: $light-gray;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      color: $dark-gray;
      font-size: 1rem;
      font-weight: 400;
      padding: 5px 10px;
    }

    .btn-demo-example {
      @include position(absolute, 45px 10px null null);
      background-color: $yellow;
      border-radius: $base-border-radius;
      color: darken($yellow, 40%);
      font-size: 1rem;
      font-weight: 400;
      padding: ($small-spacing / 4) ($small-spacing / 2);
    }
  }
}

.feature-list {
  @extend %section;
  color: $dark-purple;

  &__heading {
    padding-bottom: $base-spacing;
  }

  &__feature {
    @include span-columns(4);
    padding-left: 105px;
    position: relative;

    &::before {
      @include position(absolute, 0 null null 0);
      @include size(75px);
      border-radius: $base-border-radius;
      box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.05), inset 0px 1px 0px 0px rgba(255,255,255,0.18);
      content: "";
      display: inline-block;
    }
  }

  .type-safe::before,
  .performance::before,
  .extensible::before {
    background-color: transparentize($white, 0.9);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px;
  }

  $features: type-safe performance extensible;
  @each $feature in $features {
    .#{$feature}::before {
      background-image: image_url("#{$feature}.svg");
    }
  }
}

footer {
  border-bottom: solid 5px $yellow;
  text-align: center;

  p {
    margin: 0;
  }
}
