header {
  padding: $base-spacing 0 0;

  .logo {
    @include size(195px 80px);
    background: image_url("logo.svg") center no-repeat;
    background-size: 100%;

    a {
      @include size(100%);
      display: block;
      text-indent: -9999px;
    }
  }
}

.banner {
  @extend %section;
  text-align: center;

  &-wrapper {
    width: 580px;
    margin: 0 auto;
  }

  .rust-link {
    color: $yellow;

    &:hover {
      color: darken($yellow, 10%);
    }
  }

  .btn-container {
    margin-top: $large-spacing;
  }

  .btn {
    margin: 0 ($small-spacing / 2);
  }
}

.section-heading {
  text-align: center;
}

.demo {
  @extend %section;

  &__example-container {
    @include clearfix;
    background: transparentize($white, 0.95);
    border-radius: $base-border-radius;
    box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.05), inset 0px 1px 0px 0px rgba(255,255,255,0.18);
    padding: $base-spacing * 1.5;
  }

  &__example {
    @include clearfix;
    @include span-columns(5.75);
    height: 390px;
    position: relative;

    &:nth-child(2n) {
      @include shift(0.5);
    }

    pre {
      border-bottom-right-radius: $base-border-radius;
      border-bottom-left-radius: $base-border-radius;
      height: 275px;
      margin: 0;
    }
  }

  &__example-caption {
    padding-bottom: $small-spacing;
  }

  &__example-browser {
    @include position(absolute, null null 0 null);
    @include size(100% 300px);

    .browser-bar {
      @include size(100% 25px);
      background: $light-gray;
      border-top-left-radius: $base-border-radius;
      border-top-right-radius: $base-border-radius;
      font-size: 0;
      position: relative;
    }

    .browser-bar__circle {
      @include position(relative, 12px null null null);
      @include size(12px);
      border-radius: 50%;
      background-color: darken($light-gray, 15%);
      display: inline-block;
      margin: -6px 5px 0 0;

      &:first-child {
        margin-left: 5px;
      }
    }
  }
}

.feature-list {
  @extend %section;
  color: $dark-purple;

  &__heading {
    padding-bottom: $base-spacing;
  }

  &__feature {
    @include span-columns(4);
    padding-left: 105px;
    position: relative;

    &::before {
      @include position(absolute, 0 null null 0);
      @include size(75px);
      border-radius: $base-border-radius;
      box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.05), inset 0px 1px 0px 0px rgba(255,255,255,0.18);
      content: "";
      display: inline-block;
    }
  }

  .type-safe::before,
  .performance::before,
  .extensible::before {
    background-color: transparentize($white, 0.9);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 32px;
  }

  $features: type-safe performance extensible;
  @each $feature in $features {
    .#{$feature}::before {
      background-image: image_url("#{$feature}.svg");
    }
  }
}

footer {
  border-bottom: solid 5px $yellow;
  text-align: center;

  p {
    margin: 0;
  }
}
