#{$all-button-inputs},
button,
.btn {
  @include transition(all 0.25s ease-in-out);
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: lighten($lavender, 23%);
  border-radius: $button-border-radius;
  border: none;
  box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.05);
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-family: $base-font-family;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 1;
  padding: 0.75em 1.25em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.btn-primary {
  background-color: $action-color;
  color: darken($action-color, 40%);

  &:active,
  &:focus,
  &:hover {
    color: darken($action-color, 40%);
  }
}

.btn-secondary {

  &:active,
  &:focus,
  &:hover {
    background-color: lighten($lavender, 21%);
    color: $white;
  }
}

.btn-download {
  background-image: image_url("liquid-bg.svg");
  background-position: 0 -50%;
  background-repeat: repeat-x;
  transition: background-position 3s ease;

  &:hover {
    background-position: 100% 50%;
  }
}

.btn-demo-example {
  @include position(absolute, 45px 10px null null);
  background-color: $action-color;
  border-radius: $base-border-radius;
  color: darken($action-color, 40%);
  font-size: 1rem;
  font-weight: 400;
  padding: ($small-spacing / 4) ($small-spacing / 2);

  &:hover {
    background-color: darken($action-color, 5%);
    color: darken($action-color, 40%);
  }
}
