body {
  @include font-feature-settings("kern", "liga", "pnum");
  -webkit-font-smoothing: antialiased;
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: $mobile-base-font-size;
  font-weight: $base-font-weight;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $heading-font-family;
  font-size: $base-font-size;
  font-weight: $heading-font-weight;
  line-height: $heading-line-height;
  margin: 0 0 $small-spacing;
}

h2 {
  font-size: $h2-font-size / 1.15;
}

h3 {
  font-size: $h3-font-size / 1.15;
  margin-bottom: $base-spacing;
}

h4 {
  font-size: $base-font-size;
  font-weight: 400;
}

p {
  margin: 0 0 $base-spacing;

  a {
    font-weight: 400;
  }
}

a {
  color: $link-color;
  text-decoration: none;
  transition: color 0.1s linear;

  &:active,
  &:focus,
  &:hover {
    color: darken($link-color, 15%);
  }

  &:active,
  &:focus {
    outline: none;
  }
}

hr {
  border-bottom: $base-border;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: $base-spacing 0;
}

img,
picture {
  margin: 0;
  max-width: 100%;
}

pre {
  font-size: 0.85em;
}

code {
  font-weight: bold;
  @include font-feature-settings("liga" 0);
}
