// Typography
$base-font-family: "Roboto", $helvetica, sans-serif;
$heading-font-family: $base-font-family;
$base-font-weight: 300;
$heading-font-weight: 100;

// Font Sizes
$base-font-size: 1em;
$h2-font-size: $base-font-size * 2.75;
$h3-font-size: $base-font-size * 2;
$h4-font-size: $base-font-size * 1.375;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$dark-gray: #2B303B;
$medium-gray: #999;
$light-gray: #ddd;
$white: #fff;
$lavender: #535379;
$yellow: #FFCD57;

// Font Colors
$base-background-color: $white;
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
