// Typography
$base-font-family: "Roboto", $helvetica, sans-serif;
$heading-font-family: $base-font-family;
$base-font-weight: 300;
$heading-font-weight: 300;

// Font Sizes
$mobile-base-font-size: 1em;
$base-font-size: 1.125em;
$h2-font-size: $base-font-size * 2;
$h3-font-size: $base-font-size * 1.6111;
$h4-font-size: $base-font-size * 1.2777;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$main-header-height: 75px;
$base-border-radius: 3px;
$button-border-radius: 1.5em;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$large-spacing: $base-spacing * 2;
$base-z-index: 0;

// Colors
$blue: #477dca;
$lavender: #535379;
$dark-purple: darken($lavender, 10%);
$dark-gray: #2B303B;
$medium-gray: #999;
$light-gray: #D5D5D5;
$white: #fff;
$yellow: #FFCD57;

// Font Colors
$base-background-color: $lavender;
$base-font-color: $white;
$action-color: $yellow;
$link-color: $dark-purple;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
