%section.banner
  .content-wrapper
    .banner-wrapper
      %h2.banner__heading A Safe, Extensible ORM and Query Builder for <a href="https://www.rust-lang.org/" target="_blank" class="rust-link">Rust</a>
      %p.banner__sub-heading Diesel gets rid of the boilerplate for database interaction and eliminates runtime errors, without sacrificing performance.
      .btn-container
        %a.btn.btn-primary.btn-download{:href => "https://crates.io/crates/diesel/", :target => "_blank"} Download v0.1
        %a.btn.btn-secondary{:href => "https://github.com/sgrif/diesel", :target => "_blank"} View on Github
