---
title: Diesel
---

%header
  .content-wrapper
    %h1.logo
      %a{:href => "/"} Diesel

%section.banner
  .content-wrapper
    .banner-wrapper
      %h2.banner__heading A Safe, Extensible ORM and Query Builder for <a href="https://www.rust-lang.org/" class="rust-link">Rust</a>
      %p.banner__sub-heading Diesel gets rid of the boilerplate for database interaction and eliminates runtime errors, without sacrificing performance.
      .btn-container
        %a.btn.btn-primary.btn-download{:href => "https://crates.io/crates/diesel/", :target => "_blank"} Download v0.1
        %a.btn.btn-secondary{:href => "https://github.com/sgrif/diesel", :target => "_blank"} View on Github

%main
  %section.demo
    .content-wrapper
      %h3.demo__heading.section-heading What does it look like?
      .demo__example-container
        .demo__example
          %p.demo__example-caption Here’s an example of what some code from <a href="http://crates.io">crates.io</a> looks like when ported over to Diesel…
          .demo__example-browser
            .browser-bar
              .browser-bar__circle
              .browser-bar__circle
              .browser-bar__circle
            %pre.demo__example-snippet
              %code
                :preserve
                  let versions = Version::belonging_to(krate)
                    .select(id)
                    .order(num.desc())
                    .limit(5);
                  let downloads = try!(version_downloads
                    .filter(date.gt(now - 90.days()))
                    .filter(version_id.eq(any(versions)))
                    .order(date)
                    .load(&conn))
                    .collect::<Vec<VersionDownload>>();
        .demo__example
          %p.demo__example-caption …which will ultimately execute this query:
          .demo__example-browser
            .browser-bar
              .browser-bar__circle
              .browser-bar__circle
              .browser-bar__circle
            %pre.demo__example-snippet
              %code
                :preserve
                  SELECT version_downloads.* FROM version_downloads
                  WHERE date > NOW() - '90 days'::interval
                    AND version_id = ANY(SELECT id FROM versions
                                         WHERE crate_id = 1
                                         ORDER BY num DESC
                                         LIMIT 5)
                  ORDER BY date;

  %section.feature-list
    .content-wrapper
      %h3.feature-list__heading.section-heading What makes Diesel so different?
      .feature-list__feature.type-safe
        %h4.feature__heading Truly Type Safe
        %p.feature__description Diesel takes advantage of Rust’s type system to catch errors at compile time, rather than a database error at runtime.
      .feature-list__feature.performance
        %h4.feature__heading Designed for Performance
        %p.feature__description Our query builder performs no boxing or allocations by default. This means that while your code can feel high level, the compiler can optimize away and inline almost all of it.
      .feature-list__feature.extensible
        %h4.feature__heading Extensible at its Core
        %p.feature__description No ORM can anticipate every use case, which is why we’ve made sure it’s easy for other crates or your code to add support for new things.

%footer
  .content-wrapper
    %p &copy; 2015.

