---
title: Diesel
---

%header.main-header
  .content-wrapper
    %h1
      %a{:href => "/"}
        = partial "svg/logo.svg"
    %nav.header-nav
      %ul
        %li.nav-item
          %a{:href => ""} Guides
        %li.nav-item
          %a{:href => ""} API Docs

%section.banner
  .content-wrapper
    .banner-wrapper
      %h2.banner__heading A Safe, Extensible ORM and Query Builder for <a href="https://www.rust-lang.org/" class="rust-link">Rust</a>
      %p.banner__sub-heading Diesel gets rid of the boilerplate for database interaction and eliminates runtime errors, without sacrificing performance.
      .btn-container
        %a.btn.btn-primary.btn-download{:href => "https://crates.io/crates/diesel/", :target => "_blank"} Download v0.1
        %a.btn.btn-secondary{:href => "https://github.com/sgrif/diesel", :target => "_blank"} View on Github

%main
  %section.demo
    .content-wrapper
      %h3.demo__heading.section-heading What does it look like?
      .vertical-tabs-container
        .vertical-tabs
          %a.js-vertical-tab.vertical-tab.is-active{:href => "javascript:void(0)", :rel => "tab1"} Example 1
          %a.js-vertical-tab.vertical-tab{:href => "javascript:void(0)", :rel => "tab2"} Example 2

        .vertical-tab-content-container
          %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{:href => "", :rel => "tab1"} Item 1
          #tab1.js-vertical-tab-content.vertical-tab-content
            .demo__example
              %p.demo__example-caption Here’s an example of what some code from <a href="http://crates.io">crates.io</a> looks like when ported over to Diesel:
              .demo__example-browser
                .browser-bar filename.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      let versions = Version::belonging_to(krate)
                        .select(id)
                        .order(num.desc())
                        .limit(5);
                      let downloads = try!(version_downloads
                        .filter(date.gt(now - 90.days()))
                        .filter(version_id.eq(any(versions)))
                        .order(date)
                        .load(&conn))
                        .collect::<Vec<VersionDownload>>();

          %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{:href => "", :rel => "tab2"} Item 2
          #tab2.js-vertical-tab-content.vertical-tab-content
            .demo__example
              %p.demo__example-caption This is a caption for the example below:
              .demo__example-browser
                .browser-bar build.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      extern crate syntex;
                      extern crate diesel_codegen;

                      use std::env;
                      use std::path::Path;

                      pub fn main() {
                        let out_dir = env::var_os("OUT_DIR").unwrap();
                        let mut registry = syntex::Registry::new();
                        diesel_codegen::register(&mut registry);

                        let src = Path::new("src/schema.in.rs");
                        let dst = Path::new(&out_dir).join("schema.rs");

                        registry.expand("", &src, &dst).unwrap();
                      }
              .demo__example-browser
                .browser-bar schema.in.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      #[derive(Queryable)]
                      pub struct User {
                        id -> i32,
                        name -> String,
                      }
              .demo__example-browser
                .browser-bar schema.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      include!(concat!(env!("OUT_DIR"), "/schema.rs"));

  %section.feature-list
    .content-wrapper
      %h3.feature-list__heading.section-heading What makes Diesel so different?
      .feature-list__feature.type-safe
        %h4.feature__heading Truly Type Safe
        %p.feature__description Diesel takes advantage of Rust’s type system to catch errors at compile time, rather than a database error at runtime.
      .feature-list__feature.performance
        %h4.feature__heading Designed for Performance
        %p.feature__description Our query builder performs no boxing or allocations by default. This means that while your code can feel high level, the compiler can optimize away and inline almost all of it.
      .feature-list__feature.extensible
        %h4.feature__heading Extensible at its Core
        %p.feature__description No ORM can anticipate every use case, which is why we’ve made sure it’s easy for other crates or your code to add support for new things.

%footer
  .content-wrapper
    %p &copy; 2015

