---
title: Diesel
---

%header
  .content-wrapper
    %h1
      %a{:href => "/"}
        %svg.logo{:height => "76px", :version => "1.1", :viewBox => "0 0 190 76", :width => "190px", :xmlns => "http://www.w3.org/2000/svg", "xmlns:sketch" => "http://www.bohemiancoding.com/sketch/ns", "xmlns:xlink" => "http://www.w3.org/1999/xlink"}
          %g#Page-1{:fill => "none", "fill-rule" => "evenodd", "sketch:type" => "MSPage", :stroke => "none", "stroke-width" => "1"}
            %g#Desktop-HD{"sketch:type" => "MSArtboardGroup", :transform => "translate(-119.000000, -30.000000)"}
              %g#logo{"sketch:type" => "MSLayerGroup", :transform => "translate(119.000000, 31.000000)"}
                %g#mark{"sketch:type" => "MSShapeGroup", :transform => "translate(0.130247, 0.315216)"}
                  %g#drop{:transform => "translate(72.929204, 51.710843)"}
                    %path#drop-fill{:d => "M9.7807837,7.73987977 C9.7807837,10.2104926 7.78625402,12.2130607 5.3255584,12.2130607 C2.86486278,12.2130607 0.870333101,10.2104926 0.870333101,7.73987977 C0.870333101,5.26926692 5.3255584,0.395873804 5.3255584,0.395873804 C5.3255584,0.395873804 9.7807837,5.26926692 9.7807837,7.73987977", :fill => "#FDBD41"}
                    %path#drop-stroke{:d => "M9.7807837,7.73987977 C9.7807837,10.2104926 7.78625402,12.2130607 5.3255584,12.2130607 C2.86486278,12.2130607 0.870333101,10.2104926 0.870333101,7.73987977 C0.870333101,5.26926692 5.3255584,0.395873804 5.3255584,0.395873804 C5.3255584,0.395873804 9.7807837,5.26926692 9.7807837,7.73987977 L9.7807837,7.73987977 Z", :stroke => "#000000", "stroke-width" => "2.235"}
                  %g#can
                    %path#nozzle-fill{:d => "M79.275823,44.6326234 L80.2209163,43.6799527 C80.6090126,43.2880312 80.6090126,42.6541735 80.219415,42.2637594 L74.2643514,36.3027842 C74.0774346,36.1143604 73.8229575,36.0299465 73.5579711,36.0299465 L64.1791025,36.0299465 L64.1791025,39.0447273 L72.1842454,39.0447273 C72.4499825,39.0447273 72.7044595,39.2934467 72.892127,39.4826242 L77.8608104,44.5617761 C78.2511587,44.9544513 78.8854747,45.0260523 79.275823,44.6326234", :fill => "#FFFFFF"}
                    %path#nozzle-stroke{:d => "M79.275823,44.6326234 L80.2209163,43.6799527 C80.6090126,43.2880312 80.6090126,42.6541735 80.219415,42.2637594 L74.2643514,36.3027842 C74.0774346,36.1143604 73.8229575,36.0299465 73.5579711,36.0299465 L64.1791025,36.0299465 L64.1791025,39.0447273 L72.1842454,39.0447273 C72.4499825,39.0447273 72.7044595,39.2934467 72.892127,39.4826242 L77.8608104,44.5617761 C78.2511587,44.9544513 78.8854747,45.0260523 79.275823,44.6326234 L79.275823,44.6326234 Z", :stroke => "#000000", "stroke-width" => "2"}
                    %path#attachement-fill{:d => "M62.9549102,43.5800881 L63.0967868,31.4757433 L66.1257395,32.9755967 C66.3952299,33.123321 66.5626293,33.4082178 66.5596266,33.7164791 L66.495069,41.2926232 C66.4920663,41.6016382 66.320163,41.8835202 66.0476698,42.0259686 L62.9549102,43.5800881 Z", :fill => "#9B9B9B"}
                    %path#attachment-stroke{:d => "M62.9549102,43.5800881 L63.0967868,31.4757433 L66.1257395,32.9755967 C66.3952299,33.123321 66.5626293,33.4082178 66.5596266,33.7164791 L66.495069,41.2926232 C66.4920663,41.6016382 66.320163,41.8835202 66.0476698,42.0259686 L62.9549102,43.5800881 L62.9549102,43.5800881 Z", :stroke => "#000000", "stroke-width" => "2.235"}
                    %path#red-fill{:d => "M57.3441789,25.3100644 C56.3690588,26.2891144 54.5156551,26.2793164 53.5232696,25.2829314 L38.2891765,9.98744111 C37.2967911,8.99105607 37.3838688,7.22665562 38.3582382,6.24760556 L38.5271389,6.07802415 C39.5022589,5.09972779 41.0936789,5.17886578 42.0860644,6.17525083 L57.3201575,21.4707411 C58.3125429,22.4671261 58.4881997,24.1614329 57.5130796,25.140483 L57.3441789,25.3100644 Z M62.9742024,45.1367701 L63.179886,22.3812049 C63.1783846,21.6380614 62.9066422,20.8843662 62.384176,20.3590407 L43.748798,1.64931119 C41.7662791,-0.341197814 38.467836,-0.295222407 36.485317,1.6952866 L2.35686493,35.9612849 C0.373595307,37.9517939 0.591289551,40.9997372 2.57380851,42.9902462 L30.81776,71.3480279 C32.8002789,73.3385369 35.853253,73.5744435 37.835772,71.5839345 L62.1732378,47.1483826 C62.6994573,46.6200423 62.9764544,45.8844358 62.9742024,45.1367701 L62.9742024,45.1367701 Z", :fill => "#FF2727"}
                    %path#shadow{:d => "M62.8151162,44.3834657 L62.8670115,37.9165376 L36.2319575,64.7024784 C35.0391186,65.9020746 33.1054561,65.9020746 31.9126172,64.7024784 L2.35413024,34.9765434 L2.1187213,35.213286 C0.107591965,37.2350519 0.107591965,40.5441526 2.1187213,42.5659185 L30.2985994,70.9054348 C32.3089767,72.9279572 35.599437,72.9279572 37.6098142,70.9054348 L61.9938173,46.3832971 C62.5210431,45.8530846 62.8166204,45.1337807 62.8151162,44.3834657", :fill => "#9B0000"}
                    %path#black-stroke{:d => "M57.4628598,25.4292236 C56.4877397,26.4082737 54.5149795,26.2793918 53.522594,25.2830067 L38.2885009,9.98676279 C37.2961155,8.99037774 37.5025496,7.34581483 38.4769191,6.36676477 L38.6458198,6.19718336 C39.6209398,5.218887 41.0930033,5.17818745 42.0853888,6.1745725 L57.3202325,21.4700627 C58.312618,22.4664478 58.6068806,24.2805921 57.6317605,25.2596422 L57.4628598,25.4292236 L57.4628598,25.4292236 Z M63.1199074,22.4400685 C63.1184061,21.6976787 62.7881114,21.0027717 62.2648945,20.4781999 L43.6295166,1.76771671 C41.6469976,-0.222792299 38.5865168,-0.176063197 36.6039979,1.81444581 L2.47554583,36.0804441 C0.492276204,38.0709531 0.472008119,41.1181427 2.45452708,43.1086517 L30.6984785,71.4671871 C32.6809975,73.4576961 35.8533281,73.5745188 37.835847,71.5840098 L62.1733128,47.148458 C62.6995324,46.6201176 62.9757788,45.8837574 62.9742775,45.1368455 L63.1199074,22.4400685 Z", :stroke => "#000000", "stroke-width" => "2.235"}
                    %path#Fill-19{:d => "M31.379261,48.8214352 C31.6119686,49.0550807 31.8424242,49.195268 32.0683759,49.2404897 C32.2950781,49.2864651 32.5157751,49.2796819 32.7289653,49.2208937 C32.9429062,49.1628591 33.1440857,49.0580955 33.3317531,48.9088638 C33.5194206,48.7588785 33.6845679,48.6134153 33.8264445,48.4702132 L36.9349682,45.3491614 C37.3493379,44.9331217 37.7637077,44.6663136 38.1788281,44.5494908 C38.5924471,44.4319144 38.9812941,44.3934759 39.3438676,44.4319144 C39.7064411,44.4718602 40.0337332,44.5660721 40.3249931,44.7160575 C40.6162529,44.8652891 40.8399525,45.0047227 40.9953412,45.135112 L41.0538934,45.0763238 C40.9240276,44.9195552 40.7814003,44.6994762 40.6267623,44.413072 C40.470623,44.1274215 40.3730359,43.8018252 40.3347518,43.4377904 C40.2957169,43.0737557 40.3475131,42.6705287 40.4901404,42.2281097 C40.632017,41.7864443 40.943545,41.3244291 41.4224723,40.8435716 L44.3756073,37.8785347 C44.530996,37.7225198 44.6826313,37.5506773 44.8327652,37.3622535 C44.9813979,37.173076 45.0849903,36.9718394 45.1427919,36.7570362 C45.2013441,36.5429868 45.2073495,36.3221541 45.1623093,36.0937845 C45.1165184,35.8669222 44.9776445,35.6355378 44.7449369,35.4018923 L43.6962511,34.3482264 L45.8716922,32.1640177 L48.3383932,34.6406601 C48.5590902,34.8622465 48.752763,35.1682468 48.9216637,35.5579072 C49.0898137,35.9475676 49.1866501,36.3703906 49.2129236,36.8256225 C49.2384463,37.2808544 49.1701354,37.7586972 49.0087414,38.2591508 C48.8473474,38.7596044 48.5455781,39.2314176 48.1056856,39.6730829 L44.4529263,43.3405638 C44.1293876,43.6654064 43.9184494,44.0068303 43.8223637,44.3640818 C43.7240259,44.722087 43.6985032,45.0597425 43.744294,45.3785556 C43.7893342,45.6973686 43.8861706,45.9898024 44.0355539,46.2566105 C44.1841865,46.5226649 44.3365725,46.7344532 44.4919611,46.8904681 L42.8022034,48.587036 C42.6468148,48.4310211 42.4358765,48.278021 42.1708901,48.1287893 C41.905153,47.978804 41.6198985,47.8755477 41.3158772,47.8167595 C41.0111053,47.7579713 40.6905692,47.7677693 40.3542692,47.8461536 C40.0172184,47.9237842 39.7004358,48.112208 39.4024199,48.411425 L35.6333068,52.1957286 C35.1934143,52.637394 34.723495,52.9403794 34.2250502,53.1024239 C33.7258548,53.2652221 33.2499301,53.3330546 32.7972762,53.307429 C32.3438717,53.2818034 31.9227459,53.183823 31.5346496,53.0149953 C31.1458027,52.8454138 30.8417814,52.6509605 30.6210845,52.4293741 L28.1543835,49.9527317 L30.3298246,47.7677693 L31.379261,48.8214352 Z", :fill => "#9B0000"}
                    %path#Fill-21{:d => "M36.07958,26.7010842 C35.8461217,26.466685 35.615666,26.3272514 35.3897144,26.2820297 C35.1622615,26.2360543 34.9423152,26.2428376 34.729125,26.3016258 C34.5151841,26.3596603 34.3147552,26.4636703 34.1270878,26.6136556 C33.9386697,26.7636409 33.767517,26.9158874 33.6121283,27.0719023 L30.6589933,30.0369392 C30.180066,30.5177967 29.7191547,30.8298265 29.2800129,30.9722749 C28.8393697,31.1162307 28.4377613,31.1682356 28.0751878,31.1290435 C27.7126143,31.090605 27.3883249,30.9926247 27.1045718,30.8366098 C26.8185666,30.6805949 26.599371,30.5373928 26.4439823,30.4070035 L26.3854301,30.4657917 C26.5145453,30.6218066 26.6534192,30.8464078 26.8028025,31.1388415 C26.9514351,31.4312753 27.0452688,31.7598864 27.0843037,32.1231675 C27.1233385,32.4879559 27.0843037,32.87837 26.9679499,33.2936561 C26.8508454,33.7096958 26.5858589,34.1264893 26.1714892,34.542529 L23.0629655,37.6628271 C22.9203383,37.8060292 22.7747083,37.9718422 22.6260757,38.160266 C22.4774431,38.3486898 22.3731,38.5506801 22.3152984,38.7654832 C22.2567462,38.9795326 22.2499901,39.2003653 22.295781,39.428735 C22.3408212,39.6555972 22.4804458,39.8869816 22.7139041,40.1206272 L23.7625898,41.1735393 L21.586398,43.3585017 L19.119697,40.8818593 C18.8990001,40.6602729 18.7053273,40.3542727 18.5364266,39.9646122 C18.3682766,39.5749518 18.2706895,39.1521288 18.2451667,38.6968969 C18.2196439,38.241665 18.2872042,37.7638223 18.4493489,37.2633687 C18.6107429,36.7621614 18.9125122,36.2911019 19.3524047,35.8486828 L23.1215178,32.0651329 C23.4195337,31.7659159 23.6064505,31.4471029 23.6852708,31.1094474 C23.7625898,30.771792 23.7723485,30.4499641 23.7137962,30.1432102 C23.655244,29.8379636 23.5516516,29.5515595 23.4030189,29.2855051 C23.2543863,29.018697 23.1087564,28.8144456 22.9661291,28.6712435 L24.6566375,26.9739219 C24.7985141,27.117124 25.0019456,27.2633409 25.2676827,27.4133262 C25.5334199,27.5625578 25.8246797,27.6605382 26.1422131,27.7050062 C26.4597464,27.7517353 26.7960465,27.725356 27.1526146,27.6273756 C27.5076814,27.530149 27.8484855,27.3191143 28.1720242,26.993518 L31.8247835,23.3267909 C32.264676,22.8843718 32.7345953,22.58214 33.2330401,22.4200955 C33.7314848,22.2572974 34.2074095,22.1894648 34.660814,22.2150904 C35.1142186,22.2407161 35.5353444,22.3386965 35.9234406,22.5075242 C36.3115369,22.6771056 36.6163089,22.871559 36.8370058,23.0931453 L39.3037068,25.5697878 L37.1282657,27.7539964 L36.07958,26.7010842 Z", :fill => "#9B0000"}
                %text#DIESEL{:fill => "#FFFFFF", "font-family" => "Abolition", "font-size" => "37.3539823", "font-weight" => "normal", "letter-spacing" => "5.5999999", "line-spacing" => "46", "sketch:type" => "MSTextLayer"}
                  %tspan{:x => "99.6106195", :y => "64.5301205"} DIESE
                  %tspan{:x => "180.05561", :y => "64.5301205"} L

%section.banner
  .content-wrapper
    .banner-wrapper
      %h2.banner__heading A Safe, Extensible ORM and Query Builder for <a href="https://www.rust-lang.org/" class="rust-link">Rust</a>
      %p.banner__sub-heading Diesel gets rid of the boilerplate for database interaction and eliminates runtime errors, without sacrificing performance.
      .btn-container
        %a.btn.btn-primary.btn-download{:href => "https://crates.io/crates/diesel/", :target => "_blank"} Download v0.1
        %a.btn.btn-secondary{:href => "https://github.com/sgrif/diesel", :target => "_blank"} View on Github

%main
  %section.demo
    .content-wrapper
      %h3.demo__heading.section-heading What does it look like?
      .vertical-tabs-container
        .vertical-tabs
          %a.js-vertical-tab.vertical-tab.is-active{:href => "javascript:void(0)", :rel => "tab1"} Example 1
          %a.js-vertical-tab.vertical-tab{:href => "javascript:void(0)", :rel => "tab2"} Example 2

        .vertical-tab-content-container
          %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading.is-active{:href => "", :rel => "tab1"} Item 1
          #tab1.js-vertical-tab-content.vertical-tab-content
            .demo__example
              %p.demo__example-caption Here’s an example of what some code from <a href="http://crates.io">crates.io</a> looks like when ported over to Diesel:
              .demo__example-browser
                .browser-bar filename.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      let versions = Version::belonging_to(krate)
                        .select(id)
                        .order(num.desc())
                        .limit(5);
                      let downloads = try!(version_downloads
                        .filter(date.gt(now - 90.days()))
                        .filter(version_id.eq(any(versions)))
                        .order(date)
                        .load(&conn))
                        .collect::<Vec<VersionDownload>>();

          %a.js-vertical-tab-accordion-heading.vertical-tab-accordion-heading{:href => "", :rel => "tab2"} Item 2
          #tab2.js-vertical-tab-content.vertical-tab-content
            .demo__example
              %p.demo__example-caption This is a caption for the example below:
              .demo__example-browser
                .browser-bar build.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      extern crate syntex;
                      extern crate diesel_codegen;

                      use std::env;
                      use std::path::Path;

                      pub fn main() {
                        let out_dir = env::var_os("OUT_DIR").unwrap();
                        let mut registry = syntex::Registry::new();
                        diesel_codegen::register(&mut registry);

                        let src = Path::new("src/schema.in.rs");
                        let dst = Path::new(&out_dir).join("schema.rs");

                        registry.expand("", &src, &dst).unwrap();
                      }
              .demo__example-browser
                .browser-bar schema.in.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      #[derive(Queryable)]
                      pub struct User {
                        id -> i32,
                        name -> String,
                      }
              .demo__example-browser
                .browser-bar schema.rs
                %a{href: "", class: "btn-demo-example"} Details
                %pre.demo__example-snippet
                  %code
                    :preserve
                      include!(concat!(env!("OUT_DIR"), "/schema.rs"));

  %section.feature-list
    .content-wrapper
      %h3.feature-list__heading.section-heading What makes Diesel so different?
      .feature-list__feature.type-safe
        %h4.feature__heading Truly Type Safe
        %p.feature__description Diesel takes advantage of Rust’s type system to catch errors at compile time, rather than a database error at runtime.
      .feature-list__feature.performance
        %h4.feature__heading Designed for Performance
        %p.feature__description Our query builder performs no boxing or allocations by default. This means that while your code can feel high level, the compiler can optimize away and inline almost all of it.
      .feature-list__feature.extensible
        %h4.feature__heading Extensible at its Core
        %p.feature__description No ORM can anticipate every use case, which is why we’ve made sure it’s easy for other crates or your code to add support for new things.

%footer
  .content-wrapper
    %p &copy; 2015

