.feature-list {
  @extend %section;
  color: $white;

  &__heading {
    color: $white;
    padding-bottom: $small-spacing;

    @include media($medium-screen-up) {
      padding-bottom: $small-spacing;
    }
  }

  .feature__heading {
    color: $dark-purple;
  }

  &__feature {
    margin-bottom: $large-spacing;
    padding-left: 5em;
    position: relative;

    @include media($large-screen-up) {
      @include span-columns(4 of 12);
      padding-left: 5.5em;
    }

    &::before {
      @include position(absolute, 0 null null 0);
      @include size(4.166666em);
      border-radius: $base-border-radius;
      box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.05), inset 0px 1px 0px 0px rgba(255,255,255,0.18);
      content: "";
      display: inline-block;
    }

    a {
      text-decoration: underline;
    }
  }

  .type-safe::before,
  .performance::before,
  .extensible::before {
    background-color: transparentize($white, 0.85);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 1.777777em;
  }

  $features: type-safe, performance, extensible;
  @each $feature in $features {
    .#{$feature}::before {
      background-image: image_url("#{$feature}.svg");
    }
  }
}
