.guides-list {
  @extend %section;
  padding-top: 0;

  &-heading {
    display: inline-block;

    &::after {
      content: "→";
      opacity: 0;
      padding-left: $small-spacing / 2;
    }
  }

  p {
    color: $white;
    margin-bottom: 0;
  }
}

.guides-link {
  border-radius: $base-border-radius;
  color: $action-color;
  display: block;
  margin-bottom: $base-spacing;
  padding: $small-spacing;

  &:hover {
    @include transition(background-color 0.25s ease-in-out);
    background-color: transparentize($white, 0.9);
    color: darken($action-color, 10%);

    .guides-list-heading::after {
      @include transition(opacity 0.25s ease-in-out);
      opacity: 1;
    }
  }
}

.coming-soon-placeholder {
  font-weight: 300;
  font-style: italic;
  margin-top: $large-spacing;
  padding: $small-spacing;
  text-align: center;
}
