.main-header {
  @include clearfix;
  padding-top: $small-spacing;

  @include media($medium-screen-up) {
    height: $main-header-height;
    padding-top: $base-spacing;
  }

  h1 {
    float: left;
    margin: 0;
    text-indent: -9999px;

    a,
    .logo {
      @include size(auto $main-header-height);
      display: block;

      @include media($medium-screen-up) {
        @include size(auto $main-header-height);
      }
    }

    .logo #DIESEL {
      display: none;

      @include media($medium-screen-up) {
        display: block;
      }
    }
  }

  .header-nav {
    height: $main-header-height;
    float: right;

    li {
      display: inline-block;
      line-height: $main-header-height;

      &:not(:last-child) {
        margin-right: $small-spacing;
      }
    }

    a {
      color: $white;

      &:hover {
        color: $action-color;
      }
    }
  }
}
