.vertical-tabs-container {
  @include clearfix;
  background: transparentize($white, 0.95);
  border-radius: $base-border-radius;
  box-shadow: 0px 10px 50px 0px rgba(0,0,0,0.07), inset 0px 1px 0px 0px rgba(255,255,255,0.18);

  @include media($large-screen-up) {
    @include span-columns(10 of 12);
    @include shift(1 of 12);
  }

  .vertical-tabs {
    display: none;

    @include media($large-screen-up) {
      display: inline;
      float: left;
      width: 20%;
    }
  }

  .vertical-tabs,
  .vertical-tab-content-container {
    @include clearfix;
  }

  .vertical-tab {
    color: $white;
    padding: $base-spacing;

    @include media($large-screen-up) {
      display: block;

      &:hover {
        background: transparentize($white, 0.9);
      }

      &.is-active {
        background: transparentize($white, 0.9);
        color: $link-color;
        font-weight: 400;
      }
    }
  }

  .vertical-tab-content-container {
    background: transparentize($white, 0.9);
    display: block;
    position: relative;

    @include media($large-screen-up) {
      @include size(80% null);
      display: inline-block;
      padding: $base-spacing;
    }
  }

  .vertical-tab-content {
    padding: $small-spacing;

    @include media($large-screen-up) {
      display: none;
      padding: 0;
    }
  }

  .vertical-tab-accordion-heading {
    background: transparentize($white, 0.8);
    color: $white;
    cursor: pointer;
    display: block;
    font-weight: 400;
    padding: $small-spacing;

    &.is-active {
      color: $link-color;
      font-weight: 400;
    }

    @include media($large-screen-up) {
      display: none;
    }
  }
}
