:root {
    --primary-gold: #ffcd57;
    --sl-color-accent-high: #474b44;
    -sl-color-gray-5: rgba(53, 56, 65, 0.3);
}

body {
    /* background: #535379; */
    color: #fff;
    position: relative;
    min-height: 100%;
    padding-bottom: 10em;

    -webkit-font-feature-settings: "kern", "liga", "pnum";
    -ms-font-feature-settings: "kern", "liga", "pnum";
    font-feature-settings: "kern", "liga", "pnum";
    -webkit-font-smoothing: antialiased;
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
    line-height: 1.5;
}

/*
========================================================================== 
FOOTER
==========================================================================   
*/

/* Getting Started with Diesel */

/* Show TAB ONLY the very first one on the page */
starlight-tabs[data-sync-key="db-backend"]:first-of-type .tablist-wrapper.astro-esqgolmp {
    display: flex !important;
}

/* Hide the rest of the labels */
aside starlight-tabs[data-sync-key="db-backend"] .tablist-wrapper.astro-esqgolmp {
    display: none !important;
}

starlight-tabs[data-sync-key="db-backend"] .tablist-wrapper.astro-esqgolmp {
    display: none !important;
}

/*
========================================================================== 
HEADERS
==========================================================================   
*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Roboto", "Helvetica Neue", "Helvetica", "Roboto", "Arial", sans-serif, sans-serif;
    line-height: 1.2;
    margin: 0 0 0.75em;
}

h4 {
    font-weight: 400;
}

p {
    margin: 0 0 1.5em;
}

/*
========================================================================== 
LINKS
==========================================================================   
*/

.header a {
    color: white;
}


a[href="/changelog/"] {
    color: white;
}

a {
    color: var(--primary-gold);
    text-decoration: none;
}

a:active,
a:focus,
a:hover {
    color: #f6c207;
    text-decoration: none;
    transition: all 0.2s ease-out;
}

a:active,
a:focus {
    outline: none;
}

code {
    font-weight: bold;
    font-size: 1.1rem;
    background-color: transparent;
    -webkit-font-feature-settings: "liga" 0;
    -ms-font-feature-settings: "liga" 0;
    font-feature-settings: "liga" 0;
}

/* color: #ffbe24; */

/*
========================================================================== 
CODE SECTIONS 
==========================================================================   
*/

[data-theme="dark"] {
    --ec-title-color: #373c46;
    --ec-bg-primary: #d5dbe6;
    --ec-bg-secondary: #2b303b;
    --ec-border-color: #334155;
    --ec-text-color: #F1F5F9;
    --ec-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
}

.expressive-code {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.1rem;
}

.expressive-code .frame.has-title .title {
    color: var(--ec-title-color);
    background-color: var(--ec-bg-primary);
    border-radius: 5px;
}

.expressive-code .frame {
    background-color: var(--ec-bg-primary);
    border-radius: 5px;
}

.expressive-code pre {
    background-color: var(--ec-bg-secondary);
    color: var(--ec-text-color);
}

.expressive-code code {
    padding: 1rem;
    color: var(--ec-text-color);
    font-weight: normal;
    font-size: 1rem;
}

.expressive-code .frame.is-terminal .header {
    background-color: var(--ec-bg-primary);
}

.expressive-code .frame.has-title:not(.is-terminal) .header {
    background: none;
    color: var(--ec-title-color);
}

.expressive-code .frame.has-title:not(.is-terminal) .header::before {
    content: none;
}

.expressive-code .frame.has-title:not(.is-terminal) .title::after {
    content: none;
}