#site-header {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-areas:
    "logo actions"
    "menu menu";
  column-gap: var(--padding);
  row-gap: 0;
  align-items: center;
  border-bottom: 1px solid var(--border);
}

#site-header-logo {
  grid-area: logo;
}

#site-header-menu {
  grid-area: menu;
  display: flex;
  flex-wrap: wrap;
  padding: var(--padding);
  gap: var(--padding);

  background: var(--background-subtle);
  border-top: 1px solid var(--border);
}

#site-header-actions {
  grid-area: actions;
  display: flex;
  align-items: center;
  gap: var(--padding);
}

/* From small tablets */
@media (min-width: 744px) {
  #site-header {
    grid-template-columns: auto 1fr auto;
    grid-template-areas: "logo menu actions";
  }

  #site-header-menu {
    justify-content: center;
    padding: var(--padding) 0;
    gap: var(--padding_2x);
    background: none;
    border-top: none;
  }
}

#site-header-logo {
  height: var(--site-header-height);
  padding: var(--padding);
}

#site-header-actions .repo-link {
  cursor: pointer;
  height: 3.4rem;
  padding: var(--padding);
}

#site-header-logo img, #site-header-actions .repo-link img {
  height: 100%;
  width: auto;
}

#site-header-menu a {
  font-family: var(--font-headings);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--color-nav);
}

#site-header-menu a:not(.active):hover {
  background: var(--background-hover);
  color: var(--color);
}

#site-header-menu a.active {
  color: var(--primary);
}

#search-box {
  display: flex;
  align-items: center;
}
