#site-header-logo img.animate #can {
  animation: logo-pour 1s ease-in-out forwards;
  transform-origin: center;
}

#site-header-logo img.animate #drop {
  animation: logo-drip 1.5s ease-in-out forwards;
  transform-origin: left top;
}

@keyframes logo-pour {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes logo-drip {
  0% {
    opacity: 1;
    transform: translate(73.9292px, 47.71084px);
  }
  30% {
    opacity: 0;
    transform: translate(73.9292px, 60.71084px);
  }
  40% {
    transform: translate(73.9292px, 47.71084px);
  }
  50% {
    opacity: 0;
    transform: translate(76.9292px, 39.71084px) scale(0.3);
  }
  100% {
    opacity: 1;
    transform: translate(73.9292px, 47.71084px) scale(1);
  }
}
