.badge {
  display: inline-block;
  align-items: center;
  padding: var(--padding) var(--padding_2x);
  gap: calc(var(--padding) / 2);

  font-size: .6rem;
  font-weight: 800;
  letter-spacing: .16em;
  color: var(--color);

  background: var(--background-subtle);
  border-radius: var(--radius);
}