.features-section {
  background: var(--background-card);
  gap: var(--padding_2x);
}

.features-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.features-body {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 auto;

  background: var( --background-terminal);
  border-radius: var(--radius);
}

.features-title {
  grid-column: span 12;
  border-right: none;
  border-bottom: 1px solid var(--background-subtle);
  background: rgba(0, 0, 0, 0.05);
  padding: 2rem 0;
}

.features-content {
  grid-column: span 12;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.1);
}

@media (min-width: 1024px) {
  .features-body {
    grid-template-columns: repeat(12, 1fr);
    max-width: 80svw;
  }
  .features-title {
    grid-column: span 3;
    border-right: 1px solid var(--background-subtle);
    border-bottom: none;
  }
  .features-content {
    grid-column: span 9;
    padding: 3rem;
  }
}

.tab-btn {
  width: 100%;
  padding: 1rem 2rem;
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.75rem;
  transition: all 0.2s;
  color: var(--color-nav);
  font-weight: 500;
}

.tab-btn.active {
  color: var(--primary);
  background: rgba(253, 189, 65, 0.05);
  font-weight: 700;
}
