.card-slider-section {
  overflow: hidden;
}

.card-slider-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  gap: var(--padding_2x);

  padding: var(--padding_4x) var(--padding_2x);
}

.card-slider-header > div {
  width: 100%;
}

.card-slider-header h3 {
  margin-bottom: var(--padding_2x);
  text-align: left;
}

.card-slider-container {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
  cursor: grab;

  --visible-width: 100svw;
}

.card-slider-track {
  display: flex;
  width: max-content;

  padding: 0 var(--padding_4x);
  gap: var(--padding_2x);
}

.card-slider-card {
  display: flex;
  flex-direction: column;
  padding: var(--padding_2x);
  gap: var(--padding_2x);

  background: var(--background-card);
  border-radius: var(--radius);
  border: 1px solid var(--border);

  scroll-snap-align: start;
  width: 80svw;
}

.card-slider-card:hover {
  background: var(--background-high-surface);
}

.card-slider-card:hover a {
  color: var(--primary);
}

.card-slider-card p {
  font-size: .875rem;
  color: var(--color-nav);
}

.card-slider-card header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: var(--color-nav);
}

.card-slider-card header img {
  height: 4rem;
  max-width: 50%;
}

.card-slider-card footer {
  margin-top: var(--padding_2x);
  padding-top: var(--padding_2x);
  border-top: 1px solid var(--border);

  font-family: var(--font-mono);
  font-size: 0.875rem;

  gap: 1rem;
}

@media (min-width: 744px) {
  .card-slider-header {
    flex-direction: row;
  }

  .card-slider-header > div {
    width: auto;
  }

  .card-slider-card {
    width: 40svw;
  }
}

@media (min-width: 1024px) {
  .card-slider-container {
    --visible-width: 100svw;
  }

  .card-slider-header {
    max-width: 80svw;
    margin: 0 auto;
  }

  .card-slider-card {
    width: 28.57svw;
  }
}

@media (min-width: 1280px) {
  .card-slider-track {
    padding: var(--padding_4x);
    gap: var(--padding_4x);
  }

  .card-slider-card {
    padding: var(--padding_4x);
    gap: var(--padding_4x);
  }

  .card-slider-card footer {
    margin-top: var(--padding_4x);
    padding-top: var(--padding_4x);
  }
}

/* Animations */
/* Add animate-scroll-x to slider-track card-slider-track to animate slider */
@keyframes scroll-x-to-end {
  from {
    transform: translateX(10svw);
  }
  to {
    transform: translateX(calc(-100% + var(--visible-width)));
  }
}

.animate-scroll-x {
  animation: scroll-x-to-end 10s linear;
  animation-iteration-count: 3;
}

.card-slider-container:hover .animate-scroll-x {
  animation-play-state: paused;
}