<section class="card-slider-section">
	<header class="card-slider-header">
		<div>
			<h3>{{ .header.title | markdownify }}</h3>
			<p>{{ .header.description | markdownify }}</p>
		</div>
		<a href="{{ .header.cta.url }}" style="color: var(--primary)">{{ .header.cta.label }}</a>
	</header>

	<div class="card-slider-container">
		<div class="card-slider-track">

			{{ range .items }}
			<div class="card-slider-card">
				<header>
					{{ with .image }}
					<img src="{{ .url | absURL }}" alt="{{ .alt }}">
					{{ end }}
					<a href="{{ .url }}"><h4>{{ .name }}</h4></a>
				</header>
				<p>{{ .description | markdownify }}</p>
				{{ with .badges }}
				<footer>
					{{ range . }}
					<span class="badge">{{ . }}</span>
					{{ end }}
				</footer>
				{{ end }}
			</div>
			{{ end }}

		</div>
	</div>
</section>