<section class="contribution-section">
	<header class="contribution-header">
		<h2>{{ .header.title }}</h2>
		<p>{{ .header.description }}</p>
	</header>

	<div class="contribution-body">

		{{ range .items }}
		<div class="contribution-card">
			<header>
				<span class="material-symbols-outlined">{{ .icon }}</span>
				<h3>{{ .title }}</h3>
			</header>
			<p>{{ .description | markdownify }}</p>
			<footer>
				<a class="btn" href="{{ .link.url }}">{{ .link.label }}</a>
			</footer>
		</div>
		{{ end }}

	</div>
</section>