<section class="sponsors-section">
	<header class="sponsors-header">
		<h3>{{ .header.title }}</h3>
		<p>{{ .header.description }}</p>
	</header>

	<div class="sponsors-body">
		<div class="sponsors-grid">

			{{ range .items }}
			<div class="sponsors-card">
				<header>
					<p>{{ .description | markdownify }}</p>
				</header>
				<img class="sponsors-image" src="{{ .image.url | absURL }}" alt="{{ .image.alt }}" />
			</div>
			{{ end }}

		</div>
	</div>

	<footer class="sponsors-footer">
		<p>{{ .footer.description | markdownify }}</p>
		<a href="{{ .sponsorButton.url }}" class="btn btn-primary sponsor-button">
			<span>{{ .sponsorButton.label }}</span>
			<span class="material-symbols-outlined">{{ .sponsorButton.labelIcon }}</span>
		</a>
	</footer>
</section>