<section class="sponsors-section">
	<header class="sponsors-header">
		<h3>Sponsors</h3>
		<p>Your support helps maintain Diesel and ensures it remains the best ORM for the Rust ecosystem.</p>
	</header>
	<div class="sponsors-body">
		<div class="sponsors-grid">
			<div class="sponsors-card">
				<header>
					<p><a target="_blank" href="#">NGI Zero Core</a> with <a target="_blank" href="#">NLNet Foundation</a></p>
				</header>
				<img class="sponsors-image" src="{{ "images/sponsors/ngi0core.svg" | absURL }}" alt="" />
			</div>
			<div class="sponsors-card">
				<header>
					<p><a target="_blank" href="#">Federal Ministry of Research, Technology and Space (Germany)</a> with <a target="_blank" href="#">Prototype Fund</a></p>
				</header>
				<img class="sponsors-image" src="{{ "images/sponsors/bmftr-en.svg" | absURL }}" alt="" />
			</div>
			<div class="sponsors-card">
				<header>
					<p><a target="_blank" href="#">GitHub</a> with <a target="_blank" href="#">GitHub Secure Open Source Fund</a></p>
				</header>
				<img class="sponsors-image" src="{{ "images/sponsors/github.svg" | absURL }}" alt="" />
			</div>
			<div class="sponsors-card">
				<header>
					<p><a target="_blank" href="#">GiGa Infosystems GmbH</a></p>
				</header>
				<img class="sponsors-image" src="{{ "images/sponsors/giga.svg" | absURL }}" alt="" />
			</div>
		</div>
	</div>
	<footer class="sponsors-footer">
		<p>Additionally, we would like to thank all persons sponsoring the project on GitHub. </br>
			Without them developing Diesel wouldn't be possible.</p>
		<a class="btn btn-primary sponsor-button">
			<span>Become a Sponsor</span>
			<span class="material-symbols-outlined">favorite</span>
		</a>
	</footer>
</section>