---
// src/components/Footer.astro
const currentYear = new Date().getFullYear();
---

<footer class="footer">    

    <div>
        <p> Found a mistake on this website? Submit an issue or send a pull request
            <a href = "https://github.com/sgrif/diesel.rs-website">here</a>! </p>
        
        <br/>

        <p>Copyright © 2015-{currentYear} The Diesel Core Team</p>
    
    </div>

</footer>
