---
import Default from '@astrojs/starlight/components/SocialIcons.astro';
---

<div class="header-links">
  <a href="/news">News</a>
  <a href="/guides">Guides</a>
  <a href="/api_docs">API Docs</a>
  <a href="/changelog">Changelog</a>
</div>

<Default>
    <slot />

</Default>

<style>
  .header-links {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-inline-end: 1rem;
  }
</style>