name: CI

on:
  pull_request:
  push:
    branches: [ master ]

jobs:
  ci:
    name: CI
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Install Node.js and Setup Yarn
      uses: actions/setup-node@v4
      with:
        node-version: 24
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build Starlight Webpage
      run: yarn build

    - name: Deploy
      if: github.repository == 'sgrif/diesel.rs-website' && github.event_name == 'push'
      uses: JamesIves/github-pages-deploy-action@v4.5.0
      with:
        branch: gh-pages
        folder: dist # Starlight builds to 'dist' by default
        clean: true
        clean-exclude: |
          CNAME
