name: CI

on:
  pull_request:
  push:
    branches: [ master ]

permissions:  
  contents: read


jobs:
  ci:
    permissions:
      contents: write
    name: CI
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        persist-credentials: false

    - name: Install Node.js and Setup Yarn
      uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      with:
        node-version: 24
        cache: 'yarn'

    - name: Install dependencies
      run: yarn install --frozen-lockfile

    - name: Build Starlight Webpage
      run: yarn build

    - name: Deploy
      if: github.repository == 'sgrif/diesel.rs-website' && github.event_name == 'push'
      uses: JamesIves/github-pages-deploy-action@d92aa235d04922e8f08b40ce78cc5442fcfbfa2f # v4.8.0
      with:
        branch: gh-pages
        folder: dist # Starlight builds to 'dist' by default
        clean: true
        clean-exclude: |
          CNAME
